.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up_down_button_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(50px);
}

.left_right_button_board {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-150px);
}

.up_button {
  font-size: 20px;
  color: black;
  width: 100px;
  height: 150px;
  background-color: royalblue;
  box-shadow: inset;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-2px);
  clip-path: polygon(0 0, 100% 0%, 100% 67%, 50% 100%, 0% 67%);
}

.down_button {
  font-size: 20px;
  color: black;
  width: 100px;
  height: 150px;
  background-color: royalblue;
  box-shadow: 4px 4px 8px black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2px);
  clip-path: polygon(0 33%, 50% 0, 100% 33%, 100% 100%, 0 100%);
}

.left_button {
  font-size: 20px;
  color: black;
  width: 150px;
  height: 100px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-2px);
  clip-path: polygon(0 0, 67% 0, 100% 50%, 67% 100%, 0 100%);
}

.right_button {
  font-size: 20px;
  color: black;
  width: 150px;
  height: 100px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(2px);
  clip-path: polygon(33% 0, 100% 0%, 100% 100%, 33% 100%, 0 50%);
}

.start_button {
  font-size: 20px;
  color: black;
  width: 110px;
  height: 50px;
  background-color: rgb(5, 243, 231);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoot_button {
  font-size: 20px;
  color: black;
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100px);
  clip-path: circle(50% at 50% 50%);
}

.clip-path-shadow {
  filter: drop-shadow(5px 5px 3px rgb(48, 48, 48));
}